version: "3"
services:
  db:
    container_name: django_demo.db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=django_demo
    image: postgres:11.1-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    # NOTE: If you need to access the database from an external tool,
    # expose this port and restart the container.
    # ports:
    #   - 5432:5432
    restart: always
  app:
    links:
      - db
    environment:
      - DEBUG=true
      - SECRET_KEY=replace-me
      - DATABASE_URL=psql://postgres:postgres@django_demo.db:5432/django_demo?connect_timeout=60
#      - GUNICORN_CMD_ARGS=--workers=2 --worker-class=gevent --bind=0.0.0.0:8000 --reload
    ports:
      # This port is primarily exposed for debugging. Use the web service's port to properly access the service.
      - 8000:8000
    volumes:
      - .:/app/django_demo:cached
volumes:
  db-data:
